@charset "utf-8";
@import "../../node_modules/bulma/sass/utilities/_all.sass";

// Update Bulma's global variables

// $primary: #0051ba;
// $link: #083d77;
// $dark: #000000;
// $text: $grey-dark;

// $scheme-invert: $black;
// $text-invert: $white;

$family-sans-serif: "Roboto", "Helvetica Neue", Arial, sans-serif;
$family-code: "Roboto Mono", monospace;
// $body-background-color: $white-ter;

$radius-large: 8px;

$widescreen-enabled: false;
$fullhd-enabled: false;
$card-shadow: 0 0.2em 0.5em -0.125em rgba($scheme-invert, 0.1),
    0 0px 0 1px rgba($scheme-invert, 0.02);

// Update some of Bulma's component variables

$input-border-color: transparent;
$input-shadow: none;

.footer-links {
    a:after {
        color: $black;
        content: " \00b7 ";
    }
    a:last-child:after {
        content: none;
    }
}

code {
    border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $white-ter;
    }

    body,
    strong,
    p,
    .card,
    .title {
        color: $white !important;
    }

    a {
        color: $link !important;
    }

    body {
        background-color: $scheme-invert-ter !important;
    }

    code,
    .card {
        background-color: $dark !important;
    }

    .footer-links {
        a:after {
            color: $white;
        }
    }
}

.navbar {
    background-color: rgba($color: #000000, $alpha: 0.9) !important;
    height: 64px;

    .navbar-item:hover {
        background-color: $dark;
    }

    a {
        color: $white !important;
    }
}

// Index Styling

.post-feed {
    display: grid;
    justify-content: space-between;
    grid-gap: 2em;
    grid-template-columns: 1fr;
}

.card {
    border-radius: $radius-large;
    transition-duration: 200ms;

    .post-card-image {
        border-top-left-radius: $radius-large;
        border-top-right-radius: $radius-large;
        margin: 0 0 10px 0;
        width: auto;
        height: 200px;
        background: no-repeat center center;
        background-size: cover;
    }

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1),
            0 0px 0 1px rgba($scheme-invert, 0.02);
    }
}

// Template Stylings
@import "article.scss";

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/media.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
