@import "article-contents.scss";
@import "syntax-themes.css";
@import "carbonads.scss";

.tag a {
    color: $white;
}

.post-recommendations {
    display: grid;
    justify-content: space-between;
    grid-gap: 1.5em;
    margin-bottom: 1.5em;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 680px) {
    .post-recommendations {
        grid-template-columns: 1fr;
    }
}

// Post Styling
article {
    .hero-body {
        padding-left: 0;
        padding-right: 0;
    }

    .post-columns {
        display: grid;
        justify-content: space-between;
        grid-gap: 2em;
        grid-template-columns: 4fr;

        .post-full-content {
            grid-column: 1 / span 3;
        }

        .post-sidebar {
            grid-column: 4 / span 1;
        }

        @media (max-width: 680px) {
            .post-full-content {
                grid-column: 1 / span 4;
            }

            .post-sidebar {
                grid-column: 1 / span 4;
            }
        }

        .post-sidebar {
            max-width: 158px;
            font-size: 0.8em;
            margin-top: 4em;
            margin-bottom: 2.5em;

            .post-sidebar-widgets {
                .card {
                    padding: 1em;
                }

                a {
                    text-decoration: none;
                    color: $black !important;
                }
                position: -webkit-sticky; /* Safari */
                position: sticky;
                top: 6em;
            }
        }
    }

    img {
        border-radius: $radius-large;
    }
}
